biopython==1.85
joblib==1.5.1
logomaker==0.8.6
matplotlib==3.10.0
numpy==2.0.2
openpyxl==3.1.5
optuna==4.2.1
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
shap==0.46.0
statsmodels==0.14.4
xgboost==2.1.4
